<%= form_tag '/people', method: 'post' do %>
  <%= text_field_tag :url %>
  <%= submit_tag 'Find Emails!' %>
<% end %>

<table>
  <% @people.each do |person| %>
    <tr>
      <td><%= person.email %></td>
      <td>
        <ul>
          <% person.sites.each do |site| %>
            <li><%= site.url %></li>
          <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
</table>
